<div class="dashboard">
  <div class="overlay-section camera" title="Camera">
    <div class="tooltip">
      Our site allows you to connect with the robot’s camera in real-time.
    </div>
  </div>

  <div class="overlay-section gps" title="GPS">
    <div class="tooltip">
      GPS provides possible areas that can be navigated by the robot.  
      The user must select the area in Robot Status and start tracking.
    </div>
  </div>

  <div class="overlay-section about" title="About">
    <div class="tooltip">
      The P-Guard project by Enova Robotics aims to provide advanced autonomous security patrol solutions.
    </div>
  </div>

  <div class="overlay-section informations" title="Informations">
    <div class="tooltip">
      Robot information is stored in the database and linked to the user account.
    </div>
  </div>
</div>
